.container .nav__mobile__hamburger {
    width: 28px;
}

.container .nav__mobile__logo {
    width:75px;
}

.container__side__nav {
    width: 80%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.nav__mobile__close {
    width: 32px;
    display: flex;
}

.container__side__nav ul {
    list-style-type: none;
    padding: 0px;
}

.container__side__nav ul li {
    padding: 10px;
}